html {
    height:100%;
    margin:0;
    padding:0;
}

body {
    background: rgb(218, 68, 185);
    height:100%;
    margin:0;
    padding:0;
}
p {
    font-size: 30px;
    font-weight: bold;
}
 
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
  float:none;
  margin:0 auto;
}

#bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

