{% load cdnstaticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bora Vrchat - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% cdnstatic 'styles/tachyons.min.css' %}'">
        <link rel="stylesheet" href="{% cdnstatic 'styles/blog.css' %}'">
    </head>
    <body>
        <section class="mw7 center">
            <h1 class="athelas ph3 ph0-l"><a href="{% url 'blog-index' %}">Bora Vrchat</a></a></h1>
            {% block content %}{% endblock %}
        </section>
        <footer class="mw7 center">
            <div class="pv4 bt bb b--black-10 ph3 ph0-l">
                <p>Site em construção - By Flakesu S2</p>
            </div>
        </footer>
    </body>
</html>
