{% load cdnstaticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bora Vrchat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="{% cdnstatic 'styles/tachyons.min.css' %}'">-->

    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% cdnstatic 'styles/blog.css' %}'">


    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="centering text-center">
                <section>
                    <h1 class="fa-solid" style="color:rgb(57, 238, 90)">Bora Vrchat</h1>
                </section>
                <section>
                    <a href="https://discord.gg/qrDfRNbCbe" class="me-4" style="text-decoration: none" target="_blank">
                        <img src="{% cdnstatic 'styles/img/discord-2-64.png' %}'">
                    </a>
                    <a href="https://vrchat.com/home/launch?worldId=wrld_8a402178-dd75-4afc-bd24-88382778a593"
                        class="me-4" style="text-decoration: none" target="_blank">
                        <img src="{% cdnstatic 'styles/img/vrchat-64.png' %}'">
                    </a>
                </section>
                <section>
                    <img src="{% cdnstatic 'styles/img/ciri_cabeca_cropped.png' %}'" width="300" height="300">
                </section>
                <section>
                    <p>Site em construção - By Flakesu<i class="fa-solid fa-heart" style="color:rgb(88, 39, 111)"></i>
                    </p>
                </section>
            </div>
        </div>
    </div>

</body>

</html>